.header {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .header {
    padding: 2rem 10%;
  }
}

@media (min-width: 320px) and (max-width: 640px) {
  .header {
    flex-direction: column;
  }
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 1.25rem;
  display: flex;
  gap: 1.5rem;
}

.logo {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: #ddd6cb;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.logo img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}
